<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуй, уважаемый пользователь!/h1>
    <p>
      Ты зарегестрировался на покупку редкого товара.
    </p>
    <p>Удачного дня!</p>
  </body>
</html>
