<h2 align="center">Все пользователи</h2>

<% users = User.all %>
<% users.each do |user| %>
		<p><%= user.email %>
		 ---
		<%= user.name %>
			---
		<% if user.superuser %>
			админ
		<% else %>
			пользователь</p>
		<% end %>
<% end %>
