<!-- Footer -->
<footer class="text-center text-lg-start text-black">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-3 mx-auto mb-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>RareItemsClub
          </h6>
          <p>
            Искусство — это то, что расцветает всего за секунду до того, как испарится навсегда.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
          <p><i class="fas fa-home me-3"></i> Москва, Пресненская набережная, 12.</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            sashabukhov2@yandex.ru
          </p>
          <p><i class="fas fa-phone me-3"></i> + 7 985 492 47 70</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: #00CED1;">
    © 2022 Copyright: RareItemsClub
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
